* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    color: black;
    background-image: url("Assets/clouds.jpg");
    background-size: 33%;
    background-position: center;
}

.header {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0%;
}

.flyingLotus {
    width: 10%;
    height: 10%;
}

.eternalBox {
    color: black;
}

.box {
    background-color: white;
    height: 450px;
    width: 450px;;
    margin-left: auto;
    margin-right: auto;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.keepTrack {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keepTrack li{
    display: inline-block;
    margin: 1em;
    list-style: none;
    font-size: 1em;
    font-weight: 500;
}

.startQuiz,
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 1em;
  border: 0.1em #371d0d solid;
  background-color: white;
  font-size: 0.8em;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.images {
  margin-bottom: 0.5em;
  width: 40%;
  max-width: 240px;
  border-radius: 10px;
}

h1 {
    font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em
}

p, span, legend {
  font-weight: 500;
}

.form {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answerOption {
  margin-top: 0.5em;
}

.button {
  margin-left: auto;
  margin-right: auto;
  width: 6.5em;
  height: 3em;
  cursor: pointer;
  font-family: 'M PLUS 1p', sans-serif;
  border: 0.1em black solid;
  background-color: rgb(70, 0, 128);
  color: #ffffff;
  border-radius: 10px;
}

.button:hover,
.button:active {
  background-color: #371d0d;
  color: white;
  border: 0.1em #371d0d solid;
}

fieldset {
    border: none;
}

.final {
  display: block;
}

.questionGroup {
  margin: 10% 0;
}

.final {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionBox {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
.box {
    width: 600px;
    height: 600px;
    padding-top: 20%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* margin: auto; */
    padding: 1em;
    border: 0.1em #371d0d solid;
    background-color: white;
    border-radius: 10px;
}
  
@media only screen and (min-width: 800px) {  

.flyingLotus {
    max-width: 100px;
}